<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row pt-5">
      <div class="col-md-4 p-2">
        <!--Single Post Card-->
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title text-center">Title 1</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go Somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
